<h1>About</h1>
<h3>The Site</h3>
<p>
  This site has been clumsily constructed using a variety of technologies, including AngularJS and NodeJS. It serves as an outlet for the expression of the author's thoughts on a multitude of subjects, including such topics as theology, philosophy, and literature, as well as more mundane matters within the domain of coding and computer science. Additionally, due to some intractable stubbornness of the author's nature which led him to develop his own unstable blog instead of utilizing any of the many robust blogging solutions available, the site serves as a sandbox for software experimentation by the author. As the site grows over time, it may also serve as a repository for a number of related documents and resources.
</p>
<h3>The Author</h3>
<p>
  My name is Robert Childress and I live near Atlanta, Georgia. My broad but shallow academic background has culminated in undergraduate degrees ranging from English to Computer Science. I spent a number of years working in an administrative capacity as a paralegal and I am presently employed as a software engineer. An avid reader and sometimes researcher of academic texts, my writing stems from a theistic perspective in general and a Christian perspective in particular. As with many others, I mark C. S. Lewis and G. K. Chesterton as some of my literary influences. You can reach me by sending an email through the contact page.
  </p>
<h3>The Comments</h3>
<p>
  I encourage thoughtful feedback and respectful criticism. To that end, I will make an effort to read and respond to any comments that are made. However, it is quite probable that I will not be able to respond to many comments. Additionally, responses to comments will likely be short and generalized -- not because I have a low regard for reader insights (I don't), but because time and energy constraints require that I spend most of my available blogging time generating meangingful content for full-length blog posts.
</p>
<p>
Although comments are encouraged, any that are found to be demeaning, defamatory, or otherwise principally disrespectful will be deleted. Suspected trolls will be ignored. Egregious offenders will have their IPs banned from commenting on the site. Although thoughtful responses are appreciated, difficult questions are encouraged, and differing opinions are respected, this site is not intended to function as a disordered wasteland of hostility and discord nor as a soap box for sophistry and empty rhetoric.
</p>
<h3>The Point of It All</h3>
<p>
The purpose of this blog is to win every argument. Of course, that is meant in the David Marshall sense of winning an argument: namely, to reach truth. I write what I write because I believe it to be true. Typically, I write it after considerable reflection. And I write it knowing that I could well be wrong with the hope that someone else with more insight will be willing to point out my mistakes.
</p>
<p>
Nevertheless, I make no pretense of where my allegiance lies. I have found a great many wildly mistaken ideas on topics related to theism in general and Christianity more specifically circulating on the internet, and my hope for this blog is that it will serve as a source of careful and informed discussion on related matters -- acting as a rational counterbalance against the growing mass of absurdity that I find on the internet. In that respect, the blog also serves as a means of reflecting and magnifying the glory of God and fulfilling the biblical command to "love the Lord your God with all your mind."
</p>
