<h1>Additional Resources</h1>
<h3>New Testament Resources</h3>
<ul>
  <li>
      <a href="/assets/resources/EarlyCitationsOfTheFourGospelsWithClement.doc">Early Gospel Citations</a> - a chart in MS Word format provided by <a href="http://wmich.edu/philosophy/directory/mcgrew" target="_blank">Dr. Timothy McGrew</a> providing an overview of early citations of the canonical gospels as compared to early citations of non-canonical gospels. Dr. McGrew adapted the chart from an online work available at <a href="http://www.ntcanon.org" target="_blank">http://www.ntcanon.org</a>.
  </li>
</ul>


